html,body{
  height: 100%;
  margin: 0;
  padding: 0;  
  background-color: black;
  color: white;
}


.App {
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; 
  position: relative;

}

span{
  color: gold;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

@keyframes animate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}



.gamelistHeader{
  width: 75%;
  height: 150px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.gamelistHeader input{
  width: 75%;
  height: 150px;
  background-color:rgba(122, 222, 233, 0.895);
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: green;
  text-align: center;
  margin-top: 10px;
  
  
}
.gameContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* .game{
  border: 10px solid;
  border-width: 10px;
  border-image-source: linear-gradient(#00C853, #B2FF59);
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 500px;
  height: 300px;
  font-family: 'Staatliches', cursive;
} */

.gameItem{
  padding: 20px;
  margin: 30px;
  text-align: center;
  width: 340px;
  height: 340px;
  font-family: 'Staatliches', cursive;
  font-size: .75em;

  border-image: linear-gradient(135deg,rgb(240, 40, 187), rgb(0, 0, 0), rgb(66, 39, 219));
  border-image-slice: 1; /* ensures that the gradiant is applied all around the border */
  border-image-width: 10px; 
  border-image-outset: 0; /* set outset to 0 to keep the border inside the element */
  border-image-repeat: stretch; /* stretched to fill the whole border */
}

.individual{
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 500px;
  height: 300px;
  font-family: 'Staatliches', cursive;
}



.gameInfo{
  padding: 30px;
  border-image: linear-gradient(135deg,rgb(61, 121, 225), rgb(69, 76, 192), rgb(100, 72, 194));
  border-image-slice: 1; /* ensures that the gradiant is applied all around the border */
  border-image-width: 10px; 
  border-image-outset: 0; /* set outset to 0 to keep the border inside the element */
  border-image-repeat: stretch; /* stretched to fill the whole border */

}

img{
  width: 200px;
  height: 200px;
}

#pageTitle{
  text-align: center;
  font-family: 'Lobster', cursive;

}







